# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Workspace\discord-bot-morpheusV\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
